*{
font-family: Arial;
}

/* Commons */
.btn-radius{
    border-radius: 20px;
}

.ps5-image,
.gadget img,
.ps5 img,
.ps4 img,
.ps-plus img,
.ps-store img,
.ps-now img,
.social img
{
    max-width: 100%;
}

.mw-80{
    max-width: 540px;
}

/* Header */
header{
    font-family: Arial, Helvetica, sans-serif
}

header .sony-logo{
    width: 80px;
    height: 35px;
    vertical-align: middle;
}
header .chevron{
    width: 10px;
}

header .lens img{
    width: 25px;
}

/* Hero */
.hero{
    background-image:url('../img/jumbo-bg.png');
    background-position: top;
    height: 600px;
    color: white;
    margin-top:95px
}

.banner img{
    width: 300px;
}

.hero-content{
    height: 600px;
}

.hero .height,
.hero-2 .height{
    height: 100%;
}

/* Game Section */
.game img,
.new-game img{
    max-width: 100%;
    border-radius: 10px;
}

/* Hero 2 */
.hero-2{
    background-image:url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: top;
    height: 600px;
    color: white;
}

.new-game{
    background-color: #202020;
}

/* ps-plus Section */
.ps-plus{
    background-color: #BEBCBB;
}

img.ps-60-img{
    max-width:60%;
}

.ps-plus .btn-radius{
    background-color:#D9DADC;
}

/* PS Now Section */
.ps-now{
    background-color: #161C3B;
}

.ps-now .btn-radius {
    background-color: white;
}

/* Footer */
footer ul{
    list-style: none;
}

footer{
    background-color:#00439C;
    color: white;
    font-size: 0.9rem;
}

footer .ps-20-img{
    max-width: 20%;
}
footer .footer-logo{
    width: 6rem;
}
